body {
    font-size: 1.5em;
}

section {
    border: 2px black solid;
    border-radius: 10px;
}

#batteryListScreen {
    border: 1px gray solid;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

#batterySelection {
    height: 50vh;
    overflow-y: scroll;
}

.batteryItem {
    display: flex; 
    flex-direction: row; 
    justify-content: stretch;
    padding: 5px;
}

.batteryItem span {
    width: 200px;
}