body {
    font-size: 2rem;
    font-family: "Roboto";
    margin: 0px;
}

section {
    border: 2px black solid;
    border-radius: 10px;
    margin: 8px;
}

#batteryListScreen {
    border: 1px gray solid;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

#batteryListScreen .list {
    height: 50vh;
    overflow-y: scroll;
}

#notesListScreen {
    height: 25vh;
    overflow-y: scroll;
    border: 1px gray solid;
    border-radius: 10px;
    margin: 5px;
}

#batteryListScreen .list .item {
    display: flex; 
    flex-direction: row; 
    justify-content: stretch;
    padding: 5px;
}

#batteryListScreen .list .itemSelected {
    background-color: skyblue;
    color: white;
}

#batteryListScreen .list .item span {
    width: 20vw;
}

#batteryListScreen .columnNames span {
    width: 20vw;
}

#batteryListScreen .columnNames {
    background-color: lightgray; 
    display: flex; 
    flex-direction: row; 
    justify-content: stretch;
    padding: 5px;
}

#batteryDescription {
    border: 2px gray solid;
    border-radius: 10px;
    margin: 10px;
    min-height: 200px;
}

button {
    font-size: inherit;
    font-family: inherit;
}