body {
    font-size: 1.5em;
    font-family: "Roboto";
}

section {
    border: 2px black solid;
    border-radius: 10px;
}

#batteryListScreen {
    border: 1px gray solid;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

#batteryListScreen .list {
    height: 50vh;
    overflow-y: scroll;
}

#notesListScreen {
    height: 50vh;
    overflow-y: scroll;
    border: 1px gray solid;
    border-radius: 10px;
    margin: 5px;
}

#batteryListScreen .list .item {
    display: flex; 
    flex-direction: row; 
    justify-content: stretch;
    padding: 5px;
}

#batteryListScreen .list .itemSelected {
    background-color: lime;
    color: white;
}

#batteryListScreen .list .item span {
    width: 300px;
}

.batteryItem span {
    width: 200px;
}

#batteryListScreen .columnNames {
    background-color: lightgray; 
    display: flex; 
    flex-direction: row; 
    justify-content: stretch;
}

#batteryDescription {
    border: 2px gray solid;
    border-radius: 10px;
    margin: 10px;
}